
ol {
    list-style-type:upper-roman;
    list-style-type: disc;
}
ul{
    list-style-type: square;
    text-align: center;
    list-style-position:outside;
    color: grey;
    line-height: 1.7;
    /* list-style-image:  url(/USES/image1.jpg) ; */
}

::marker {
    color: black;
    font-family:fantasy;
    font-size: 1em;
    content: "not for sale";

}

